:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --light-blue: #43aeae;
  --transition-speed: 600ms;
  --fade-blue: #1a6dff;
  --fade-pink: #c822ff;
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  color: black;
  background: linear-gradient(
    89deg,
    var(--light-blue) 0%,
    var(--bg-primary) 100%
  );
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #43aeae;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.app-content {
  margin-left: 5rem;
  padding: 1rem;
  height: 100vh;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .app-content {
    margin-left: 0;
  }
}
