.model-frame {
  background: var(--bg-primary);
  height: 28rem;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .model-info-container {
    width: 35%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;

    .info-skeleton {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
    }
  }
}
