.model-frame {
  background: var(--bg-primary);
  height: 28rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .model-info-container {
    width: 35%;
    height: 100%;
  }
}
